<!DOCTYPE html>
<htm>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css">        
    </head>
    <body>
        {{>header}}
        <p>This site was creatd by David Ahn.  It uses data DarkSky.net</p>
        <img src="/img/me.png" class="portrait">
        <p></p>
        {{>footer}}
    </body>
</htm>